@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700;900&display=swap');

@import "./resets.css"; 

:root {
    --primary-color: rgb(174, 5, 186);
    --secondary-color: lightblue;
    --highlight-color: yellow;
    --text-color: rgb(65, 65, 65);
    --error-msg-txt: rgb(165, 11, 11);
    --add-task-color: rgb(10, 163, 10);
    --edit-button-color: rgb(255, 153, 0);
    --delete-button-color: rgb(255, 0, 0);
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em;
}

input,
input:focus, 
input:active {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    outline: none;
}

.btn {
    outline: none;
    border: none;
    padding: 0.35em;
    border-radius: 5px;
    cursor: pointer;
}


.btn > img {
    width: 15px;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 1200px;

    background-color: var(--secondary-color);
    border-radius: 20px 20px 0 0;
}

header .logo {
    font-size:1.75em;
}

header .greet {
    font-size: 1em;   
}

header .greet input[type="text"] {
    background-color: transparent;
    text-align: left;
}

header::after {
    position: absolute;
    content:'';
    bottom: -10px;
    left: 0;
    right: 0;
    border: 5px solid var(--highlight-color);
}

header .error-message {
    display: none;
    font-size: 0.55em;
    font-weight: 700;
    color: var(--error-msg-txt);
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 2em;
}

@media screen and (min-width:564px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1em 2em;
    }

    header .greet {
        text-align: right;   
    }

    header .error-message {
        position: absolute;
        bottom: 1em;
        right: 4em;
        text-align: right;
    }
}

main {
    width: 100%;
    max-width: 1200px;
    min-height: 70vh;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));;
    row-gap: 1em;
    column-gap: 2em;
    padding: 2em 1em;
    background-color: var(--secondary-color);
    border-radius: 0px 0px 20px 20px;
}

main #open-tasks{    
    order: 2;
    text-align: left;
}

main #open-tasks .tasks-ui .task-container {
    display: flex;
    align-items: center;
}

main #open-tasks .tasks-ui .task-container .task-name {
    width: 70%;
}

main #open-tasks .tasks-ui .task-container .edit-btn {
    background-color: var(--edit-button-color);
    background-image: url("../imgs/edit-white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.1em 1.1em;
    width: 20px;
    height: 20px;
}

main #open-tasks .tasks-ui .task-container .delete-btn {
    background-color: var(--delete-button-color);
    background-image: url("../imgs/delete-white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.85em 0.85em;
    width: 20px;
    height: 20px;
    margin-left: .25em;
}

main #tasks {
    order: 1;
}

main #tasks input[type="text"] {
    border-bottom: 1px solid var(--text-color);
    width: 70%;
    margin-block: 0.75em;
}

main #tasks .add-task-btn {
    background-color: var(--add-task-color);
} 











