@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700;900&display=swap');

@import "./resets.css"; 

:root {
    --primary-color: hsl(204, 70%, 53%);
    --secondary-color: hsl(145, 63%, 42%) ;
    --accent-color: hsl(37, 90%, 51%) ;
    --text-color: hsl(0, 0%, 20%);
    --background-color: hsl(0, 0%, 92%);
    --app-background-color: hsl(0, 0%, 100%);
    --border-color: hsl(52, 100%, 50%);
    --focus-input-color: hsl(195, 81%, 92%);
    --error-msg-txt: rgb(165, 11, 11);
    --add-task-color: rgb(10, 163, 10);
    --edit-button-color: rgb(255, 153, 0);
    --delete-button-color: rgb(255, 0, 0);
}

body {
    background-color: var(--background-color);
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

input,
input:focus, 
input:active {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    outline: none;
}

.title {
    color: var(--primary-color);
}

.btn {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.btn > img {
    width: 15px;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 1200px;

    background-color: var(--app-background-color);
    border-radius: 20px 20px 0 0;
}

header .logo {
    font-size:1.75em;    
}

header .greet {
    font-size: 1em;   
}

header .greet input[type="text"] {
    font-size: 1em;
    width: 50px;
}

header .greet input[type="text"]:focus,
header .greet input[type="text"]:active {
    border-bottom: none;
    background-color: var(--focus-input-color);
    border-radius: 5px;
}

header::after {
    position: absolute;
    content:'';
    bottom: -15px;
    left: 0;
    right: 0;
    border: 3px solid var(--border-color);
}

header .error-message {
    display: block;
    font-size: 0.75em;
    font-weight: 700;
    color: var(--error-msg-txt);
    text-align: left;
    position: absolute;
    bottom: -0.75em;
    left: auto;
}

main {
    width: 100%;
    max-width: 1200px;
    min-height: 70vh;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));;
    row-gap: 1em;
    column-gap: 5em;
    padding: 2em 1em;
    background-color: var(--app-background-color);
    border-radius: 0px 0px 20px 20px;
}

main #open-tasks{    
    order: 2;
    text-align: left;
}

main #open-tasks .title{    
    margin: 0;
}

main #open-tasks .tasks-ui .task-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main #open-tasks .tasks-ui .task-container .task-name {
    width: 80%;
    margin: 0;
    font-size: 14px;
}

main #open-tasks .tasks-ui .task-container .edit-btn {
    background-color: var(--edit-button-color);
    background-image: url("../imgs/edit-white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.1em 1.1em;
    width: 20px;
    height: 20px;
    align-self: flex-end;
    margin-bottom: 1px;
}

main #open-tasks .tasks-ui .task-container .delete-btn {
    background-color: var(--delete-button-color);
    background-image: url("../imgs/delete-white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.85em 0.85em;
    width: 20px;
    height: 20px;
    margin-left: .25em;
    align-self: flex-end;
    margin-bottom: 1px;
}

main #open-tasks .tasks-ui .task-container .edit-btn:hover,
main #open-tasks .tasks-ui .task-container .delete-btn:hover,
main #tasks .add-task-btn:hover {
    opacity: 0.8;
}


main #tasks {
    order: 1;
}

main #tasks form {
    position:relative;
    display: flex;
}

main #tasks input[type="text"] {
    margin-block: 0.75em;
    width: 75%;
    font-size: 0.75em;
    padding: 0.5em 0.25em;
    border-bottom: 1px solid var(--text-color);
}

main #tasks input[type="text"]:focus,
main #tasks input[type="text"]:active {
    border-bottom: none;
    background-color: var(--focus-input-color);
    border-radius: 5px;
}

main #tasks .add-task-btn {
    position: absolute;
    bottom: 12.5px;
    right: 0;
    font-size: 1.25em;
    font-weight: 500;
    color: var(--app-background-color);
    line-height: 0;
    padding: 0.55em 0.35em;
    background-color: var(--secondary-color);
} 

main #tasks form .task-error-message {
    display: block;
    font-size: 0.75em;
    font-weight: 700;
    color: var(--error-msg-txt);
    text-align: left;
    position: absolute;
    bottom: -0.75em;
    left: auto;
}

footer .copyright .copy {
    text-align: center;
    font-size: 12px;
}

@media screen and (min-width:330px) {
    main #open-tasks .tasks-ui .task-container {
        justify-content: flex-end;
    }
    
    main #open-tasks .tasks-ui .task-container .task-name {
        flex: 1;
    }
}
@media screen and (min-width:564px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1em 2em;
    }

    header .logo {
        order: 1;  
    }

    header .greet {
        text-align: right;   
    }

    header .error-message {
        position: absolute;
        font-size: 0.85em;
        bottom: .35em;
        left: 2.5em;
    }

    main {
        padding: 2em 2em;
    }

    main #open-tasks .tasks-ui .task-container .task-name {
        font-size: 16px;
    }

    main #tasks input[type="text"] {
        width: 95%;
        font-size: 1em;
    }

    main #tasks .add-task-btn {
        position: absolute;
        bottom: 20.5px;
    }
}










